#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg');
  background-size: cover;
  background-position: center;
}

#startButton {
  margin-right: 10px;
}

#count {
  display: inline-block;
  font-weight: bold;
}
